// 
// --------------------------------------------------

// Slider
// --------------------------------------------------
.slider
	margin-bottom: 23px
	position: relative
	.slider__item-media
		width: 980px
		height: 350px
		line-height: 350px
		text-align: center
		background: red 
		img
			height: 100%
			text-align: center
			display: inline-block
	.slider__item-descr
		position: absolute
		top: 57px
		left: 35px
		line-height: 1.3
	.slider__item-meta
		font-size: 24px
		color: #FFF 
	.slider__item-name
		margin-top: 13px
		font-size: 56px
		text-transform: uppercase 
		color: $blue
	.slider__pager
		position: absolute
		bottom: 10px
		right: 10px
		z-index: 100
		span
			width: 10px
			height: 10px
			margin: 0 3px
			background: #fff
			+border-radius(50%)
			display: inline-block
			font-size: 0
			cursor: pointer
			+transition(all linear 0.2s)
			&:hover
				+opacity(0.6)
				+transition(all linear 0.2s)

// service
// --------------------------------------------------
.service
	padding: 45px 0 60px
	background-image: url("../img/icons/header-bg.png")
	position: relative
	.service__title
		margin-bottom: 15px
		line-height: 1
		font-weight: 400
		font-size: 26px
		text-transform: uppercase
		color: $blue
	.service__title-small
		margin-bottom: 20px
		line-height: 1
		font-size: 21px
		font-weight: 400
		color: #FFF
	.service__content
		line-height: 1.3
		color: #fff
		font-family: $font-sans 
		p
			margin-bottom: 15px
	.service__btn
		width: 212px
		position: absolute
		left: 50%
		margin-left: -161px
		bottom: -30px

// widget
// --------------------------------------------------
.widget
	padding-top: 82px
	margin-bottom: 80px
	.widget-i
		+clr
	.widget__in
		overflow: hidden
	.widget__item
		width: 300px
		margin-left: 40px
		float: left
		&:first-child
			margin-left: 0
	.h2
		margin-bottom: 36px
		position: relative
		&:after
			content: ""
			width: 60px
			height: 1px
			background: #b0b0b0
			position: absolute
			bottom: -15px
			left: 0

// news-preview
// --------------------------------------------------
.news-preview
	font-family: $font-sans
	li
		margin-bottom: 17px
		padding-bottom: 22px
		border-bottom: 1px dashed #a5a5a5 
	.news-preview__cont
		margin-bottom: 11px
		line-height: 1.2
	.news-preview__all
		color: #616161
		&:hover
			text-decoration: none

// partners
// --------------------------------------------------
.partners
	margin-left: -10px
	+clr
	.widget__item &
		margin-top: 42px
	li
		width: 143px
		height: 78px
		margin-bottom: 10px
		margin-left: 10px
		border: 1px solid #a8a8a8
		float: left
		overflow: hidden
	.partners__item
		width: 143px
		height: 78px
		line-height: 78px
		background: #FFF
		text-align: center
		img
			max-width: 100%
			vertical-align: middle

// banner
// --------------------------------------------------
.banner
	width: 298px
	height: 318px
	border: 1px solid #bdc0c2
	position: relative
	.widget__item &
		margin-top: 8px
	.banner__title
		width: 100%
		position: absolute
		top: 26px
		text-align: center
		font-family: $font-bold 
		font-size: 30px
		text-transform: uppercase
		color: #30AEF5
	.banner__media
		width: 298px
		height: 318px
		line-height: 318px
		overflow: hidden
		text-align: center
		img
			width: 100%
	.banner__descr
		padding: 14px 28px 13px
		position: absolute
		left: 0
		right: 0
		bottom: 0
		background: rgba(0,0,0, .8)
		font-size: 18px
		line-height: 1.3 
		color: #FFF

// accordion
// --------------------------------------------------
.accordion
	margin: 0 -10px 70px
	.accordion__title
		height: 50px
		line-height: 1
		font-size: 24px
		text-transform: uppercase
		color: $dark-blue
		font-weight: 400 
		text-align: center
		position: relative
		overflow: hidden
		cursor: pointer
		margin-top: 9px
		// &.accordion__title-last
		// 	margin-top: 0
		&:after, &:before
			content: ""
			width: 1px
			height: 30px
			background: #a8a8a8 
			position: absolute
			top: -6px
			bottom: 1px
		&:after
			left: 0
		&:before
			right: 0
		.accordion__title-in
			height: 30px
			margin-top: 10px
			display: inline-block
			position: relative
			z-index: 999
			&:after, &:before
				content: ""
				width: 10000px
				height: 1px
				background: #a8a8a8 
				position: absolute
				bottom: 16px
				z-index: 100
			&:after
				right: 100%
				margin-right: 12px
			&:before
				left: 100%
				margin-left: 12px
	.accordion__content
		border-left: 1px solid #a8a8a8
		border-right: 1px solid #a8a8a8
		border-bottom: 1px solid #a8a8a8
		padding: 0 0px 30px
	.ui-accordion-header-active
		margin-top: 0
		&:before, &:after
			height: 37px
			top: 24px
			background: #a8a8a8

// Product
// --------------------------------------------------
.product
	padding: 33px 9px 0
	ul
		margin-left: -13px
		+clr
	li
		width: 152px
		margin-left: 13px
		margin-bottom: 20px
		float: left
		text-align: center
	.product__media
		width: 152px
		height: 90px
		line-height: 90px
		img
			max-width: 100% 
	.product__name
		margin-bottom: 7px
		font-size: 18px
		color: #151B21
		text-decoration: none
		&:hover
			text-decoration: underline
		a
			color: #151B21
			text-decoration: none
			&:hover
				text-decoration: underline
	.product__year
		height: 24px
		line-height: 24px
		padding: 0 6px
		+border-radius(2px)
		display: inline-block
		background: #D1D1D1
		font-size: 16px
		color: #151B21
		text-decoration: none
		&:hover
			background: #FFC835
		a
			font-size: 16px
			color: #151B21
			text-decoration: none

// popup
// --------------------------------------------------
.overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(#000, .6)
	z-index: -1
	opacity: 0
	+transition(all .3s linear)
	&.is-active
		opacity: 1
		z-index: 5000

.popup
	position: absolute
	top: 100px
	left: 50%
	margin-left: -175px
	+opacity(0)
	+transition(all .3s linear)
	&.is-active
		+opacity(1)
		z-index: 5000
	.popup__bg
		content: ""
		height: 178px
		padding: 3px 0
		border-top: 1px solid red 
		border-bottom: 1px solid red
		position: absolute
		left: -9900px
		right: -9900px
		background: #fff
		z-index: 1000
		top: 82px
	.popup-i
		width: 212px
		height: 212px
		padding: 68px
		border: 1px solid #b1bfce
		background: #fff
		+border-radius(50%)
		+box-shadow(0 0 0 3px #fff)
		position: relative
		z-index: 2000
		text-align: center
		&:after
			content: ""
			+s(popup-elips)
			position: absolute
			top: 35px
			left: 50%
			margin-left: -59px
	.popup__close
		position: absolute
		top: 0px
		right: 0px
		+s(i-close)
		cursor: pointer
	.popup__title
		margin-bottom: 20px
		font-family: $font-bold 
		font-size: 24px
		text-transform: uppercase
		color: #1B232B
	.popup__row
		margin-bottom: 18px
	.popup__send
		margin-top: 36px
		display: block
		text-align: center
		+s(sexy-btn)
		line-height: 48px
		color: #333
		font-family: $font-bold
		font-size: 20px
		text-transform: uppercase
		text-decoration: none
		&:hover
			+sp(sexy-btn_h)
		&:active
			+sp(sexy-btn_a)

// Input
// --------------------------------------------------
.input
	width: 170px
	padding: 8px 20px
	border: 1px solid #d1d1d1
	+border-radius(4px)
	font-size: 18px
	color: #2B2B2B
	+placeholder
		font-size: 18px
		color: #2B2B2B
	&:hover
		background: #E0E6EC
		border-color: #adb0b5
		color: #7C7C7C
		+placeholder
			color: #7c7c7c
	&:focus
		background: #F3F5F6
		border-color: #288dca
		color: #2B2B2B
		+placeholder
			color: #2B2B2B

// car-service
// --------------------------------------------------
.car-service
	margin: 65px 0 60px
	position: relative
	ul
		+clr
	li
		width: 230px
		margin-bottom: 35px
		display: inline-block
		text-align: center
		.car-service__item-ico
			display: inline-block
			vertical-align: middle
	.car-service__meta
		width: 100%
		text-align: center
		font-size: 24px
		text-transform: uppercase
		color: #2A3848 
		position: absolute
		top: -15px
		overflow: hidden
		span
			position: relative
			&:after, &:before
				content: ""
				width: 1000px
				height: 1px
				background: #a8a8a8 
				position: absolute
				top: 14px
			&:after
				left: 100%
				margin-left: 15px
			&:before
				right: 100%
				margin-right: 15px
	.car-service__in
		padding: 55px 9px
		border: 1px solid #a8a8a8
		border-top-width: 0
	.car-service__item
		width: 100px
		height: 100px
		line-height: 100px
		margin-left: auto
		margin-right: auto
		margin-bottom: 10px
		text-align: center
		+border-radius(50%)
		border: 2px solid $blue
		&:hover
			background-color: #ffc22f
			border-color: transparent
		img
			vertical-align: middle
	.car-service__title
		padding: 0 5px
		display: inline-block
		+border-radius(3px)
		font-size: 18px
		color: $dark-blue
		text-decoration: none
		&:hover
			background: #DDD
	.car-service__1
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv11_h)
		.car-service__item-ico
			+s(serv11)
	.car-service__2
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv12_h)
		.car-service__item-ico
			+s(serv12)
	.car-service__3
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv13_h)
		.car-service__item-ico
			+s(serv13)
	.car-service__4
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv14_h)
		.car-service__item-ico
			+s(serv14)
			margin-left: -4px
			margin-top: -4px
	.car-service__5
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv21_h)
		.car-service__item-ico
			+s(serv21)
	.car-service__6
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv22_h)
		.car-service__item-ico
			+s(serv22)
	.car-service__7
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv23_h)
		.car-service__item-ico
			+s(serv23)
	.car-service__8
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv24_h)
		.car-service__item-ico
			+s(serv24)
			margin-left: 4px
	.car-service__9
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv31_h)
		.car-service__item-ico
			+s(serv31)
	.car-service__10
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv32_h)
		.car-service__item-ico
			+s(serv32)
	.car-service__11
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv33_h)
		.car-service__item-ico
			+s(serv33)
			margin-bottom: 1px
	.car-service__12
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv34_h)
		.car-service__item-ico
			+s(serv34)
	.car-service__13
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv41_h)
		.car-service__item-ico
			+s(serv41)
	.car-service__14
		.car-service__item
			&:hover
				.car-service__item-ico
					+sp(serv42_h)
		.car-service__item-ico
			+s(serv42)